.notFound {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.notFound__oops {
    font-size: 120px;
    font-weight: 900;
    color: gray;
    margin-bottom: 20px;
}

.notFound__header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.notFound__text {
    font-weight: 500;
    color: rgb(105, 102, 102);
    margin-bottom: 30px;

}

.notFound__btn {
    background-color: #0eb56f;
    color: white;
    padding: 7px 14px;
    border-radius: 12px;
    font-weight: bold;
}